html {
    height: 100%;
}

body {
    background-image: linear-gradient(
        150deg,
        #9a2f26 23.08%,
        #002e4f 23.08%,
        #002e4f 34.62%,
        #194260 34.62%,
        #194260 50%,
        #9a2f26 50%,
        #9a2f26 73.08%,
        #002e4f 73.08%,
        #002e4f 84.62%,
        #194260 84.62%,
        #194260 100%
    );
    background-size: 165% 165%;
}

.login-backdrop {
    height: 100%;
    background-color: white;
}

#logo {
    height: auto;
    width: auto;
    max-width: 300px;
    display: block;
}

.flex-container {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.login-column {
    padding: 50px 50px;
}

.login-title {
    text-align: center;
}

.login-form {
    width: 100%;
    padding-top: 160px;
    padding-bottom: 60px;
}

.login-form,
#loginButton {
    max-width: 400px;
}

input,
select,
textarea,
button {
    font-family: inherit !important;
}
