nav{
    position: fixed;
    top:0px;
}
.navbar-nav { /*ul*/
    background-color:	#bac6cf;
    width: 5rem;
    height: 100vh;
    list-style: none;
    padding-top: 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    transition: width 300ms ease;
}

.nav-item{ /*li*/
    margin-left: 2rem;
    margin-top: 5%;
    width: 100%;
}

.navbar-nav:last-child{
    margin-top: auto;
}

.nav-link{ /*icon + text href*/
    display: flex;
    position:relative;
    display: row;
    align-items: center;
    height: 5rem;
    filter: drop-shadow(0 0 0.0rem crimson);
    transition: 300ms;
    justify-content: center;
}

.nav-link svg{
    color:black;
    width: 2rem;
    min-width: 1rem;
    margin: 0  0rem;
  }


.nav-link:hover{
   filter: drop-shadow(0 0 0.75rem crimson);
   width: 11rem;

}

.navbar-nav:hover .link-text{/*spam titulo cuando se hace hover sobre el menu*/
    display: block;
    display: inline;
    transition: 1000ms;
    
 }
.link-text{ 
    display: inline;
    display: none;
    margin-left: 3rem;
    color: black;
    font-size: 20px;
    font-family: 'Open Sans';


}
.navbar-nav:hover{
    width: 12rem;
}

.navbar:hover .link-text{ /*muestra el texto*/
    display: block; 
    display: inline;
    transition: display 300ms;
}